<launch>

  <!-- Default values -->
  <arg name="start_rviz" default="true"/>
  <arg name="bag_file" default="$(find stargazer_ros_tool)/res/Stargazer.bag_optimized.bag"/>
  <arg name="stargazer_config" default="$(find stargazer_ros_tool)/res/stargazer.yaml"/>
  <arg name="map_frame" default="world"/>
  <arg name="camera_frame" default="camera"/>
  <arg name="pose_topic" default="/stargazer/camera_pose"/>
  <arg name="landmark_topic" default="/landmarks_seen"/>
  <arg name="pose_pub_topic" default="/poses"/>

  <include file="$(find stargazer_ros_tool)/launch/extrinsic_calibration.launch"  if="$(arg start_rviz)"/>

  <node pkg="stargazer_ros_tool" type="pose_visualizer" name="$(anon pose_visualizer)" output="screen" required="true">

    <param name="bag_file" value="$(arg bag_file)"/>
    <param name="stargazer_config" value="$(arg stargazer_config)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="landmark_topic" value="$(arg landmark_topic)"/>
    <param name="pose_pub_topic" value="$(arg pose_pub_topic)"/>
    <param name="rate" value="0.2"/>

  </node>

  <!-- Start an rviz node with a custom configuration for the viewpoint, map_server, trajectory, laser scans, etc -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find stargazer_ros_tool)/res/stargazer.rviz" if="$(arg start_rviz)"/>

</launch>
