<launch> <!-- generates the calibration for the stagazer. The generatoed calibration is stored correctly by default; no moving or renaming is needed! -->
  <!-- Default values -->
  <arg name="landmark_topic" default="/landmarks_seen"/>
  <arg name="pose_topic" default="/stargazer/camera_pose"/>
  <arg name="car_name" default="$(env CAR_NAME)" />

  <node pkg="stargazer_ros_tool" type="landmark_calibrator" name="landmark_calibrator" output="screen">
    <param name="stargazer_cfg_file_in"  value="$(find vehicle_setup)/launch/param/$(arg car_name)/stargazer_optimized.yaml"/>
    <param name="stargazer_cfg_file_out" value="$(find vehicle_setup)/launch/param/$(arg car_name)/stargazer_optimized.yaml"/>
    <param name="bag_file" value="$(find vehicle_setup)/stargazer_calib_record.bag"/>
    <param name="pose_topic" value="$(arg pose_topic)"/>
    <param name="landmark_topic" value="$(arg landmark_topic)"/>
  </node>
</launch>
