<!-- records data needed for stargazer calibration. All created files are stored within the vehicle_setup package -->
<launch>
  <arg name="car_name" default="$(env CAR_NAME)" />
  <arg name="landmark_topic" default="/landmarks_seen"/>
  <arg name="pose_topic" default="/stargazer/camera_pose"/>
  <arg name="undistorted_image_topic" default="/sensors/camera/top/image_raw"/>

  <include file="$(find stargazer_ros_tool)/launch/stargazer_nodelets.launch">
    <arg name="stargazer_config" value="$(find vehicle_setup)/launch/params/$(arg car_name)/stargazer_optimized.yaml"/>
    <arg name="undistorted_image_topic" value="$(arg undistorted_image_topic)"/>
    <arg name="landmark_topic" value="$(arg landmark_topic)" />
    <arg name="pose_topic" value="$(arg pose_topic)" />
  </include>
  
  <include file="$(find stargazer_ros_tool)/launch/rosbag_record.launch">
    <arg name="undistorted_image_topic" value="$(arg undistorted_image_topic)"/>
    <arg name="landmark_topic" value="$(arg landmark_topic)" />
    <arg name="pose_topic" value="$(arg pose_topic)" />
    <arg name="bagfile" value="$(find vehicle_setup)/stargazer_calib_record.bag"/>
  </include>
</launch>
