<launch>

    <arg name="config" default="$(find kitaf_lateral_control_ros_tool)/launch/params/kitaf_controller_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_kitaf_controller"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="kitaf_controller"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- KitafController -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load kitaf_lateral_control_ros_tool/KitafControllerNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
