<launch>
  <arg name="file" doc="Specify the bag file name"/>
  
  <param name="/use_sim_time" value="true" />
   
  <!-- Play rosbag -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="-l --pause --clock $(arg file)"/>
  
  <!-- Processing pipeline -->
  <include file="$(find kal)/launch/master_offline.launch" />
  
  <!-- Visualize -->
  <include file="$(find vehicle_setup)/launch/start_visualization.launch" />
  
  <!-- Reconfiguration -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
  
</launch>
