<launch>

    <arg name="config" default="$(find kitaf_navigation_ros_tool)/launch/params/filter_and_control_tar_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_filter_and_control_tar"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="filter_and_control_tar"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- FilterAndControlTar -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load kitaf_navigation_ros_tool/FilterAndControlTarNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
